body {
    font-family: "Gill Sans", sans-serif;
  }
  
#container {
  width:fit-content;
  background-color:rgb(184, 226, 184);
  border-radius: 3px;
  padding: 0px 0px 0px 15px;
  margin: 10px auto;
  border: 1px solid #ddd;
}

h1 {
  text-align: left;
  color: green;
}

ul {
  list-style-type:circle solid;
  margin: 0px 0 20px 0;
  padding: 0px 0px 0px 20px;
}

li {
  padding: 5px;
}
  
input[type=text] {
  border: 1px solid #ccc;
  padding: 5px;
  width: 300px;
  font-size: 15px;
}

#infoText {
  font-style: italic;
  text-align: center;
}

button {
  background-color: #ffffff;
  border: 1px solid green;
  margin: 15px;
  padding: 5px 15px;
  font-size: 15px;
  cursor: pointer;
}

button:hover {
  background-color: green;
}

.delete {
  cursor: pointer;
  color: rgb(178, 0, 0);
  font-weight: bold;
  padding-left: 3px;
}