body {
  font-family: "Gill Sans", sans-serif;
}

#infoText {
  font-style: italic;
  text-align: center;
}

#container {
  width:fit-content;
  background-color:rgb(184, 226, 184);
  border-radius: 3px;
  padding: 0px 0px 0px 15px;
  margin: 10px auto;
  border: 1px solid #ddd;
}

h1 {
  text-align: left;
  color: green;
}

input[type="text"] {
  border: 1px solid #ccc;
  padding: 5px;
  width: 300px;
  font-size: 15px;
}

ul {
  list-style-type:circle solid;
  margin: 0px 0 20px 0;
  padding: 0px 0px 0px 20px;
}

li {
    padding: 5px;
}

.delete {
  cursor: pointer;
  color: rgb(178, 0, 0);
  font-weight: bold;
  padding-left: 3px;
}

.edit {
  font-weight: bold;
  color: #4266b3;
  cursor: pointer;
}

#saveEdit {
  background-color: #ffffff;
  border: 1px solid green;
  margin: 15px;
  padding: 5px 15px;
  font-size: 15px;
  cursor: pointer;
}

#saveEdit:hover {
  background-color: green;
}

.edit-button {
  background-color: rgb(255, 204, 0);
  border: 1px solid rgb(128, 60, 0);
  margin: 15px;
  padding: 5px 15px;
  font-size: 15px;
  cursor: pointer;
}