.taloContainer {
  display: block;
  border: 1px solid gray;
  width: 570px;
  height: 180px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 14px;
  margin: 2px;
  padding: 2px;
}

.taloImage {
  width: 225px;
  height: 160px;
  margin: 2px;
  float: left;
}

p.header {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

p.text {
  font-style: italic;
  font-size: 11px;
}